<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
		<title>会议自助餐</title>
		<script src="../js/include.js"></script>
		<link type="text/css" rel="stylesheet" href="../css/bootstrap.css" />
		<link type="text/css" rel="stylesheet" href="../css/style.css" />
		<script type="text/javascript" src="../js/jquery-2.1.4.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

		<script src="../js/base.js" type="application/javascript"></script>
		<script src="../js/rem.js"></script>
		<script type="text/javascript " src="../js/bootstrap.js"></script>
		<style>
			.type_list1 a{ margin-left: 0; margin-right: 30px;}
			.tab_rank ul li{font-size: 16px;}
			.tab_rank ul li a{ font-size: 18px;}
			.pro_n_list ul li div.procont .pro_title{ font-size:16px;margin-top: 0;}
			.pro_n_list ul li div.procont .content{}
			.pro_n_list ul li .pro_p_f{ bottom: 35px;}
			.x_price{ font-size: 16px;}
			.zk_price{ font-size: 16px;}
			.pro_intro{font-size: 14px;color: #666;}
			.pro_intro .ql-editor{padding: 5px 0;}
		</style>
	</head>

	<body>
		<!-- 头部 -->
		<!-- 头部 -->
		<div id="app">
			<header class="clear head_top">
				<div class="clear">
					<img class="logoTIcon" src="../img/logo2.png" alt="">
					<!--logo-->
					<div class="head_logo">
						<!-- <span class="logo">统筹帮</span> -->
						<select class="tab_adress" v-model="cityId" @change="chooseCity($event)">
							<option v-for="item in cityData" :value="item.id">{{item.title}}</option>
						</select>
					</div>
					<!--导航栏-->
					<nav class="head_nav">
						<ul class="clear">
							<li><a href="index.html">首页</a></li>
							<li><a href="TeSe.html">找特色会场</a></li>
							<li><a href="Print.html">找印刷商</a></li>
							<li><a href="PartTime.html">找兼职</a></li>
							<li class="active" id="nav2btn"><a>会议配套服务</a>
								<ul class="clear nav_2 ycxiala" id="nav2">
									<li><a href="ConferenceBuffet.html">会议自助餐</a></li>
									<li><a href="Lease.html">活动道具租赁</a></li>
									<li><a href="Advertising.html">线下广告</a></li>
									<li><a href="GiftPurchasing.html">礼品采购</a></li>
								</ul>
							</li>
							<li><a href="ShopTransfer.html">店铺转让</a></li>
						</ul>
					</nav>
					<div class="nav_small">
						<button class="nav_btn" id="btnnav">
							<span></span>
							<span></span>
							<span></span>
						</button>
						<div class="clear"></div>
						<ul class="clear small_nav orgin" id="snav">
							<li><a href="index.html">首页</a></li>
							<li class="li_bg"><a href="TeSe.html">找特色会场</a></li>
							<li><a href="Print.html">找印刷商</a></li>
							<li><a href="PartTime.html">找兼职</a></li>
							<li><a id="smnavbtn">会议配套服务</a>
								<ul class="clear smallnav2 smycxiala" id="smnav2">
									<li><a href="ConferenceBuffet.html">会议自助餐</a></li>
									<li><a href="Lease.html">活动道具租赁</a></li>
									<li><a href="Advertising.html">线下广告</a></li>
									<li><a href="GiftPurchasing.html">礼品采购</a></li>
								</ul>
							</li>
							<li><a href="ShopTransfer.html">店铺转让</a></li>
							<li v-if="hasLogin" @click="loginOff"><a href="#">退出登录</a></li>
							<li v-if="!hasLogin"><a href="Login.html">登录注册</a></li>
							<li v-if="hasLogin"><a href="MyCenter.html">个人中心</a></li>
							<li><a href="Apply.html">申请入驻</a></li>
							<li><a href="Help.html">帮助中心</a></li>
						</ul>
					</div>

					<!--个人中心-->
					<div class="head_abnoutus">
						<ul class="clear">
							<li v-if="hasLogin" @click="loginOff"><a href="#">退出登录</a></li>
							<li v-if="!hasLogin"><a href="Login.html">登录注册</a></li>
							<li v-if="hasLogin"><a href="MyCenter.html">个人中心</a></li>
							<li><a href="Apply.html">申请入驻</a></li>
							<li><a href="Help.html">帮助中心</a></li>
						</ul>
					</div>
					<div class="me_rk" style="float: right">
						<div class="btn_me"><img id="btn_me" src="../img/meicon.png" /></div>

						<ul class="me_list" id="me_list">
							<li><a href="Login.html">登录注册</a></li>
							<li><a href="MyCenter.html">个人中心</a></li>
							<li><a href="Apply.html">申请入驻</a></li>
							<li><a href="Help.html">帮助中心</a></li>
						</ul>
					</div>

				</div>
			</header>
			<!--内容-->
			<div>
				<div class="typelist">
					<div>
						<!--搜索框-->
						<div class="search_k">
							<div class="search_k_1">
								<span class="sp_1 sp_0_0">
									<input type="text" id="inputtext" v-on:keyup.13="search" class="search" class="search_text1" placeholder="全网搜索" v-model="title" /></span>
								<span class="sp_1 sp_0_1">
									<input type="button" class="search_btn1" value="全网搜索" @click="goSearch" /></span>
							</div>
						</div>
						<!--条件选择-->
						<div class="phone">
							<div class="type_seltBtn" @click="showtypeBtn">条件筛选 ∨</div>
							<div class="type_list" v-if="showtype">
								<!--场地类型-->
								<div class="adresstype type_s clear" v-for="(item,index) in labelData">
									<div class="type_1">
										<span>{{item.title[1]}}</span>
									</div>
									<div class="type_all" @click="allSelect(index)">
										<span>不限</span>
									</div>
									<div class="type_list1">
										<a v-for="(c_item,c_index) in item.child" @click="select(c_item.id)" :style="check(c_item.id)?'color:red':''">{{c_item.title}}</a>
							
									</div>
								</div>
							</div>
						</div>
						<div class="type_list compute">
							<!--场地类型-->
							<div class="adresstype type_s clear" v-for="(item,index) in labelData">
								<div class="type_1">
									<span>{{item.title[1]}}</span>
								</div>
								<div class="type_all" @click="allSelect(index)">
									<span>不限</span>
								</div>
								<div class="type_list1">
									<a v-for="(c_item,c_index) in item.child" @click="select(c_item.id)" :style="check(c_item.id)?'color:red':''">{{c_item.title}}</a>
						
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="product_c">
				<div class="product_c_z">
					<div class="pro_top" style="height: 160px;">
						<img style="height: 160px;" :src="noticeData.mainImg&&noticeData.mainImg[0]?noticeData.mainImg[0].url:''">
					</div>
					<div class="pro_middle">
						<div class="tab_rank">
							<ul>
								<li><a :class="num==1?'pro_active':''" @click="changeOrder('1')">推荐排序</a></li>
								<li><a :class="num==2?'pro_active':''" @click="changeOrder('2')">价格排序</a></li>
								<li><a :class="num==3?'pro_active':''" @click="changeOrder('3')">销量排序</a></li>
								<li><a :class="num==4?'pro_active':''" @click="changeOrder('4')">折扣排序</a></li>
								<li>共有<span>{{totalCount?totalCount:'0'}}</span>个产品满足条件</li>
							</ul>
						</div>
					</div>
					<div class="peo_list addstlyPeoLis">
						<!-- <div class="pro_b_l">
							<ul class="clear">
								<li v-for="(item,index) in mainData" v-if="index<4" @click="intoPath('PrintList.html',item.id)"><img :src="item.mainImg&&item.mainImg[0]?item.mainImg[0].url:''" /></li>
							</ul>
						</div> -->
						<div class="pro_n_list">
							<ul class="clear">
								<div class="nodata" v-if="mainData.length==0"></div>
								<li v-for="item in mainData" style="position: relative;">
									<div class="product_d"  @click="intoPath('PrintList.html',item.id)">
										<div class="proimg"><img :src="item.mainImg&&item.mainImg[0]?item.mainImg[0].url:''" /></div>
										<div class="procont">
											<h3 class="pro_title">{{item.title}}</h2>
											<div style="position: absolute;top: 35px;right:15px;">
												<span v-for="(c_item,c_index) in stars" >
													<img  src="../img/messtaricon1.png" v-if="item.averageScore>=c_item" 
													style="width:20px;height:20px;margin-left: 10px;" />
													<img src="../img/messtaricon.png" v-else style="width:20px;height:20px;margin-left: 10px;" />
												</span>
											</div>
											<div class="pro_intro">
												<div class="content ql-editor ">
													<p class="p1 " v-html="item.content"></p>
												</div>
											</div>
											<p class="pro_p_f clear">
												<span class="x_price">现价：{{item.score}}</span>
												<span class="y_price1">原价:{{item.price}}</span>
												<span class="zk_price">{{item.discount&&item.discount!=0?item.discount:'10'}}折</span>
											</p>
										</div>
										<div class="probind  nowbind" @click="intoPath('PrintList.html',item.id)">立即预约</div>
									</div>
								</li>

							</ul>
						</div>
						<include src="form.html"></include>
					</div>
					<div class="fenye">
						<span>
							共:{{allPages}}页
						</span>
						<a class="pages backPage" data-type="back" @click="goStart">
							<<</a> <a class="pages backPage" data-type="back" @click="changePage">上一页
						</a>
						<span v-for="item in pageArray">
							<a v-if="item == paginate.currentPage" class="currentpages active">{{item}}</a>
							<a v-if="item != paginate.currentPage" class="currentpages" :data-page="item" @click="linkTo">{{item}}</a>
						</span>
						<sapn class="currentpages" v-if="pageArray[pageArray.length-1]!=allPages">...</sapn>
						<a class="pages nextPage" data-type="next" @click="changePage">下一页</a>
						<a class="pages backPage" data-type="back" @click="goEnd">>></a>
					</div>
				</div>

			</div>
			<include src="footer.html"></include>
		</div>

	</body>

	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data: function() {
				return {
					paginate: {
						count: 0,
						currentPage: 1,
						pagesize: 6,
						is_page: true,
					},
					showtype:false,
					labelData: [],
					mainData: [],
					totalCount: 0,
					cityData: [],
					num: 1,
					order: {
						listorder: 'desc'
					},
					spuArray: [],
					pageArray: [],
					allPages: 0,
					linkPage: '',
					title: '',
					cityId: '',
					hasLogin: false,
					noticeData:{},
					stars: [1, 2, 3, 4, 5],
				}
			},

			created: function() {
				var self = this;
				self.getBefore = {
					spu: {
						tableName: 'Relation',
						middleKey: 'product_no',
						key: 'relation_one',
						searchItem: {

							relation_two: ['in', self.spuArray]
						},
						condition: 'in'
					}
				};
				self.init()
			},

			methods: {
				showtypeBtn(){
					var self = this;
					self.showtype = !self.showtype;
				},
				init: function(e) {
					var self = this;
					if (localStorage.getItem('user_token')) {
						self.hasLogin = true
					};
					self.getLableData();
					self.getMainData();
					self.getCityData()
					self.getNoticeData()
				},

				getNoticeData() {
					const self = this;
					const postData = {};
					postData.searchItem = {
						thirdapp_id: 2,
						title: '广告条',
					};
					const callback = (res) => {
						if (res.info.data.length > 0) {
							self.noticeData = res.info.data[0]
							console.log('swiperData', self.swiperData)
						};
					};
					window.base.labelGet(postData, callback);
				},

				goStart() {
					const self = this;
					self.mainData = [];
					self.paginate = {
							count: 0,
							currentPage: 1,
							pagesize: 6,
							is_page: true,
						},
						self.getMainData()
				},

				goEnd() {
					const self = this;
					self.mainData = [];
					self.paginate = {
							count: 0,
							currentPage: self.allPages,
							pagesize: 6,
							is_page: true,
						},
						self.getMainData()
				},


				loginOff() {
					const self = this;
					localStorage.removeItem('user_token');
					localStorage.removeItem('user_info');
					localStorage.removeItem('user_no');
					location.reload()
				},

				chooseCity: function(e) {
					const self = this;
					var index = e.target.options.selectedIndex;
					var nowCity = localStorage.getItem('cityId');
					if (self.cityData[index].id != nowCity) {
						self.cityId = self.cityData[index].id;
						localStorage.setItem('cityId', self.cityData[index].id);
						self.mainData = [];
						self.paginate = {
								count: 0,
								currentPage: 1,
								pagesize: 6,
								is_page: true,
							},
							self.getMainData()
					};

				},

				check(id) {
					const self = this;
					var position = self.spuArray.indexOf(id);
					if (position >= 0) {
						return true
					} else {
						return false
					}
				},

				allSelect(index) {
					const self = this;
					var hasOne = false;
					for (var i = 0; i < self.labelData[index].child.length; i++) {
						var position = self.spuArray.indexOf(self.labelData[index]['child'][i].id);
						if (position >= 0) {
							hasOne = true;
							self.spuArray.splice(position, 1);
						}
					};

					if (hasOne) {
						self.mainData = [];
						self.paginate = {
								count: 0,
								currentPage: 1,
								pagesize: 6,
								is_page: true,
							},
							self.getMainData()
					}
				},

				select(id) {
					const self = this;

					var position = self.spuArray.indexOf(id);
					if (position >= 0) {
						self.spuArray.splice(position, 1);
					} else {
						self.spuArray.push(id);
					}
					console.log(self.spuArray)
					self.mainData = [];
					self.paginate = {
							count: 0,
							currentPage: 1,
							pagesize: 6,
							is_page: true,
						},
						self.getMainData()
				},

				changeOrder(num) {
					const self = this;
					if (self.num != num) {
						self.num = num;
						if (self.num == 1) {
							self.order = {
								listorder: 'desc'
							}
						} else if (num == 2) {
							self.order = {
								score: 'asc'
							}
						} else if (num == 3) {
							self.order = {
								sale_count: 'desc'
							}
						} else {
							self.order = {
								discount: 'asc'
							}
						};
						self.mainData = [];
						self.paginate = {
								count: 0,
								currentPage: 1,
								pagesize: 6,
								is_page: true,
							},
							self.getMainData()
					}
				},

				getCityData: function(id) {
					var self = this;
					var postData = {};

					postData.searchItem = {
						type: 11

					};
					postData.order = {
						listorder: 'desc'
					};
					var callback = function(res) {
						if (res.info.data.length > 0) {
							self.cityData.push.apply(self.cityData, res.info.data);
						}
					};
					console.log('self.city', self.city)
					window.base.labelGet(postData, callback);
				},

				getLableData: function(id) {
					var self = this;
					var postData = {};

					postData.searchItem = {
						type: ['in', [7, 8]],
						id: ['in', [51, 55, 58, 61, 64, 68]]
					};
					postData.getAfter = {
						child: {
							tableName: 'Label',
							middleKey: 'id',
							key: 'parentid',
							searchItem: {
								status: 1
							},
							condition: '='
						}
					};
					postData.order = {
						create_time: 'asc'
					};

					var callback = function(res) {
						if (res.info.data.length > 0) {
							self.labelData.push.apply(self.labelData, res.info.data);
							for (var i = 0; i < self.labelData.length; i++) {
								self.labelData[i].title = self.labelData[i].title.split('-')
							}
						}
					};
					console.log('self.labelData', self.labelData)
					window.base.labelGet(postData, callback);
				},

				getMainData: function(id) {
					var self = this;
					self.mainData = [];
					var postData = {};
					postData.paginate = window.base.cloneForm(self.paginate);
					postData.searchItem = {
						category_id: 97,
						passage2: localStorage.getItem('cityId')
					};
					postData.order = {
						listorder: 'desc'
					};
					postData.getAfter = {
						message:{
							tableName:'Message',
							middleKey:'id',
							key:'relation_id',
							searchItem:{
								status:1
							},
							condition:'=',
							compute:{
							  score:[
							    'sum',
							    'score',
							    {
							      status:1,
							    }
							  ],
							  count:[
							    'count',
							    'count',
							    {
							      status:1,
							    }
							  ]
							},
						}
					};
					if (self.spuArray.length > 0) {
						postData.getBefore = window.base.cloneForm(self.getBefore);
					};
					var callback = function(res) {
						if (res.info.data.length > 0) {
							self.mainData.push.apply(self.mainData, res.info.data);
							self.paginate['count'] = res.info.total;
							window.base.computePageArr(self);
							self.totalCount = res.info.total
							for (var i = 0; i < self.mainData.length; i++) {
								self.mainData[i].averageScore = self.mainData[i].message.score/self.mainData[i].message.count
							}
						} else {
							self.totalCount = '0'
						}
					};
					console.log('self.mainData', self.mainData)
					window.base.productGet(postData, callback);
				},

				goSearch() {
					const self = this;
					if (self.title != '') {
						window.location.href = 'search.html?title=' + self.title
					} else {
						alert('请输入标题搜索')
					}
				},
				search() {
					const self = this;
				/* 	$('#inputtext').bind('keyup', function(event) {
						//13 代表的是回车健 
						alert(111)
						
						if (event.keyCode == 13) {
							if (self.title != '') {
								window.location.href = 'search.html?title=' + self.title
							} else {
								alert('请输入标题搜索')
							}
						}
					}); */
					
					$(".search").keydown(function(event){  
					    if(event.which == "13")      
						   if (self.title != '') {
							window.location.href = 'search.html?title=' + self.title
						   } else {
							alert('请输入标题搜索')
						   }
					});  
				},

				changePage: function(e) {
					var self = this;
					var dataSet = window.base.getDataSet(e);
					window.base.changePage(dataSet, self);
				},

				linkTo: function(e) {
					var self = this;
					console.log(e);
					self.linkPage = window.base.getDataSet(e).page;
					window.base.linkTo(self);
				},

				intoPath: function(url, id) {
					var self = this;
					var toUrl = url;
					console.log(toUrl);
					window.location.href = toUrl + '?id=' + id;

				},



			}
		});
	</script>

</html>
<script type="text/javascript" src="../js/pubilc.js"></script>
<script>
	/*PC端*/
	var btnnav = document.getElementById("nav2btn");
	var nav2 = document.getElementById("nav2");
	var flag = true;
	btnnav.onclick = function() {
		if (flag) {
			nav2.classList.remove("ycxiala");
			nav2.classList.add("xiala");
			flag = false;
		} else {
			nav2.classList.remove("xiala");
			nav2.classList.add("ycxiala");
			flag = true;
		}
	}
	/*手机端*/
	var btnnav1 = document.getElementById("smnavbtn");
	var nav21 = document.getElementById("smnav2");
	var flag1 = true;
	btnnav1.onclick = function() {
		if (flag1) {
			nav21.classList.remove("smycxiala");
			nav21.classList.add("smxiala");
			flag1 = false;
		} else {
			nav21.classList.remove("smxiala");
			nav21.classList.add("smycxiala");
			flag1 = true;
		}
	}
</script>
