<div id="form_app">
	<div class="active_big_k act_big_0" id="act_big" style="z-index:999;right: 0.8%;">
		<div>
			<h2 class="active_title">活动需求</h2>
			<ul>
				<li class="clear active_tab" style="">
					<div class="act_t_1">活动类型</div>
					<select class="select_t_1" @change="changeType">
						<option>不限</option>
						<option v-for="item in labelData">{{item.title}}</option>
	
					</select>
				</li>
				<li class="clear active_tab" style="">
					<div class="act_t_1">活动时间</div>
					<input class="activ_Input" type="date" name="user_date" style="height:20px;border:none" v-model="submitData.description" />
				</li>
				<li class="clear active_tab">
					<div class="act_t_1">预算</div>
					<div class="act_t_2"><input class="act_i_1" type="number" placeholder="请输入您的预算值" v-model="submitData.keywords" /></div>
				</li>
				<li class="clear active_tab">
					<div class="act_t_1">联系人姓名</div>
					<div class="act_t_2"><input  class="act_i_1" placeholder="请输入联系人姓名" v-model="submitData.passage1" /></div>
				</li>
				<li class="clear active_tab">
					<div class="act_t_1">联系电话</div>
					<div class="act_t_2"><input type="number" onkeyup="this.value=this.value.replace(/\D/g,'')" maxlength="11" class="act_i_1" placeholder="请输入11位手机号码" v-model="submitData.phone" /></div>
				</li>
				<li class="clear active_tab">
					<div class="act_t_1">短信验证</div>
					<div class="act_t_2">
						<input class="act_i_2" style="background: #f2f2f2;padding: 5px 0;"  placeholder="" type="number"  v-model="smsCode"  onkeyup="this.value=this.value.replace(/\D/g,'')" />
						<a class="sendyzm" :style="hasSend?'text-decoration:none':''" @click="sendCode"  v-if="!hasSend">{{text}}</a>
						<a class="sendyzm" :style="hasSend?'text-decoration:none':''"  v-else>{{text}}</a>
					</div>
				
				</li>
				<li class="clear active_tab" style="position: relative;">
					<div class="act_t_1">验证符</div>
					<div class="act_t_2">
						<input class="act_i_2" style="background: #f2f2f2;padding: 5px 0;" placeholder="" type="text"  v-model="imgCode"/>
					</div>
					<div  class="canvas-img-code" style="position: absolute;right: 0; top: 5px;" @click="refresh">
						<canvas  style="width:70px;height:30px;" id="imgcanvas"></canvas>
					</div>
					
				</li>
				<li class="clear active_tab">
					<div class="act_t_1" style="width: 20%;">备注</div>
					<div class="act_t_2" style="width: 80%;"><textarea style="border: none;resize: none;outline:none;" v-model="submitData.content"></textarea></div>
				</li>
			</ul>
			<p class="act_plan">
				<span style="font-size: 16px;">不想自己找吗？</span>把你们的计划要求告诉我们，统筹帮免费帮你推荐最合适的需求，帮你做活动统筹计划
			</p>
			<p class="act_tel">咨询热线：13126608897</span></p>
			<button class="act_btn" @click="submit">提交需求</button>
		</div>
	</div>
</div>


<script type="text/javascript">
	var app = new Vue({
		el: '#form_app',
		data() {
			return {

				submitData: {
					phone: '',
					passage1: '',
					title: '',
					description: '',
					content: '',
					keywords: '',
					type: 1,
					user_type:0
				},
				smsCode:'',
				labelData: [],
				searchItem: {
					status: 1
				},
				hasSend:false,
				currentTime:61,
				text:'获取验证码',			
				imgCode:''
			}
		},
		created() {
			const self = this;
			console.log('form',11)
			self.getLabelData();
			
			setTimeout(function(){
				self.creatImgCode()
			},2000)
		},

		methods: {

			sendCode:function(){
				var self = this;
				
				if(self.hasSend){
					return;
				};
				var phone = self.submitData.phone;
				
				if (phone.trim().length != 11 || !/^1[3|4|5|6|7|8|9]\d{9}$/.test(phone)) {
					
					alert('请输入正确的手机号码');
					return;
				}
				var postData = {
					params:{
						PhoneNumbers:self.submitData.phone
					}
				};
				var callback = function(res){
					if(res.solely_code==100000){
						self.hasSend = true;
						var interval = setInterval(function() {
							self.currentTime--; //每执行一次让倒计时秒数减一
						
							self.text=self.currentTime + 's';//按钮文字变成倒计时对应秒数
							
							//如果当秒数小于等于0时 停止计时器 且按钮文字变成重新发送 且按钮变成可用状态 倒计时的秒数也要恢复成默认秒数 即让获取验证码的按钮恢复到初始化状态只改变按钮文字
							if (self.currentTime <= 0) {
								clearInterval(interval)
								
							
								self.text='重新发送';
								self.currentTime= 61;
								
							}
							
						}, 1000);
					}else{
						alert('发送失败');
					};
				};
				window.base.sendCode(postData, callback);
			},

			changeType(e) {
				const self = this;
				console.log(e)
				self.submitData.title = self.labelData[e.target.options.selectedIndex - 1].title
			},

			messageAdd() {
				const self = this;
				const postData = {};
				postData.data = {};
				postData.data = window.base.cloneForm(self.submitData);
				postData.smsAuth = {
					phone:self.submitData.phone,
					code:self.smsCode
				};
				const callback = (res) => {
					if (res.solely_code == 100000) {
						alert('提交成功');
						//window.location.reload()
					} else {
						alert(res.msg)
					}

				};
				window.base.addMessage(postData, callback);
			},





			submit() {
				const self = this;

				console.log(self.submitData)

				var newObject = window.base.cloneForm(self.submitData);
				delete newObject.content;
				const pass = window.base.checkComplete(newObject);
				console.log('pass', pass)
				if (pass) {
					if(self.imgCode==''){
						alert('请输入验证符');
						return
					}
					if(self.imgCode!=localStorage.getItem('imgCode')){
						alert('验证符错误')
						self.refresh();
						return
					};
					self.messageAdd();
				} else {
					alert('请补全信息');
				};
			},

			getLabelData(id) {
				var self = this;
				var postData = {};

				postData.searchItem = window.base.cloneForm(self.searchItem);
				postData.getBefore = {
					Label: {
						tableName: 'Label',
						middleKey: 'parentid',
						key: 'id',
						searchItem: {
							title: ['in', ['精选案例']]
						},
						condition: 'in'
					}
				};
				postData.order = {
					listorder: 'desc'
				};
				var callback = function(res) {
					if (res.info.data.length > 0) {
						self.labelData.push.apply(self.labelData, res.info.data);
					}
					console.log('self.labelData', self.labelData)
				};

				window.base.labelGet(postData, callback);
			},
			
			creatImgCode:function(){
				//获取到元素canvas
				var $canvas = document.getElementById("imgcanvas");
				var _str = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";//设置随机数库
				var _picTxt = "";//随机数
				var _num = 4;//4个随机数字
				var _width = $canvas.width;
				var _height = $canvas.height;
				var ctx = $canvas.getContext("2d");//获取 context 对象
				console.log(ctx)
				ctx.textBaseline = "bottom";//文字上下对齐方式--底部对齐
				ctx.fillStyle = this.rc(180,240);//填充画布颜色
				ctx.fillRect(0,0,_width,_height);//填充矩形--画画
				for(var i=0; i<_num; i++){
				    var x = (_width-10)/_num*i+10;
				    var y = this.rn(_height/2,_height);
				    var deg = this.rn(-45,45);
				    var txt = _str[this.rn(0,_str.length)];
				    _picTxt += txt;//获取一个随机数
				    ctx.fillStyle = this.rc(10,100);//填充随机颜色
				    ctx.font = "80px sans-serif";//设置随机数大小，字体为SimHei
				    ctx.translate(x,y);//将当前xy坐标作为原始坐标
				    ctx.rotate(deg*Math.PI/180);//旋转随机角度
				    ctx.fillText(txt, 0,0);//绘制填色的文本
				    ctx.rotate(-deg*Math.PI/180);
				    ctx.translate(-x,-y);
				}
				for(var i=0; i<_num; i++){
				    //定义笔触颜色
				    ctx.strokeStyle = this.rc(90,180);
				    ctx.beginPath();
				    //随机划线--4条路径
				    ctx.moveTo(this.rn(0,_width), this.rn(0,_height));
				    ctx.lineTo(this.rn(0,_width), this.rn(0,_height));
				    ctx.stroke();
				}
				for(var i=0; i<_num*10; i++){
				    ctx.fillStyle = this.rc(0,255);
				    ctx.beginPath();
				    //随机画原，填充颜色
				    ctx.arc(this.rn(0,_width),this.rn(0,_height), 1, 0, 2*Math.PI);
				    ctx.fill();
				}
				console.log('_picTxt',_picTxt)
				localStorage.setItem('imgCode',_picTxt)
				return _picTxt;//返回随机数字符串
			},
			rc:function(min,max){
			    
				var _r = this.rn(min,max);
				var _g = this.rn(min,max);
				var _b = this.rn(min,max);
				return "rgb("+_r+","+_g+","+_b+")";
			},
			rn:function(max,min){
				  
				  return Math.floor(Math.random()*(max-min)+min);
			},
			refresh:function()
			{
				document.getElementById("imgcanvas").onclick = function(e){
				    e.preventDefault();
				    
				};
				this.creatImgCode();
			},

		}
	});
</script>

<style type="text/css">
	.active_big_k .act_btn{ width: 90%;margin:20px auto;display: block;}
</style>

