<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
		<title>特色会场</title>
		<script src="../js/include.js"></script>
		<link type="text/css" rel="stylesheet" href="../css/bootstrap.css" />
		<link type="text/css" rel="stylesheet" href="../css/style.css" />
		<script type="text/javascript" src="../js/jquery-2.1.4.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

		<script src="../js/base.js" type="application/javascript"></script>
		<script src="../js/rem.js"></script>
		<script type="text/javascript " src="../js/bootstrap.js"></script>
		<style>
		.helplist li {
            background: #fff;
            list-style-type: none;
            margin-bottom: 50px;
        }

        .helplist li .helpintro {
            padding: 30px;
        }
		.helpDetCont h2{ font-size: 22px; line-height: 40px;margin: 0 0 15px 0;}
		.helpDetCont p{ font-size: 14px;line-height: 30px; padding-bottom: 10px;}
		.helpDetCont p strong{ padding-top: 10px;    display: block;}
		@media screen and (max-width:800px) {
			.helpDetCont{ padding-top: 20px!important;}
			.helpDetCont>div{padding: 20px!important;}
			.helpDetCont h2{ font-size: 22px; line-height: 36px;}
		}
    </style>
	</head>

	<body>
		<!-- 头部 -->
		<!-- 头部 -->
		<div id="app">
			<header class="clear head_top">
				<div class="clear">
					<img class="logoTIcon" src="../img/logo2.png" alt="">
					<!--logo-->
					<!-- <div class="head_logo">
						<span class="logo">统筹帮</span>
						<select class="tab_adress">
							<option>北京</option>
							<option>上海</option>
						</select>
					</div> -->
					<!--导航栏-->
					<nav class="head_nav">
						<ul class="clear">
							<li><a href="index.html">首页</a></li>
							<li><a href="TeSe.html">找特色会场</a></li>
							<li><a href="Print.html">找印刷商</a></li>
							<li><a href="PartTime.html">找兼职</a></li>
							<li id="nav2btn"><a>会议配套服务</a>
								<ul class="clear nav_2 ycxiala" id="nav2">
									<li><a href="ConferenceBuffet.html">会议自助餐</a></li>
									<li><a href="Lease.html">活动道具租赁</a></li>
									<li><a href="Advertising.html">线下广告</a></li>
									<li><a href="GiftPurchasing.html">礼品采购</a></li>
								</ul>
							</li>
							<li><a href="ShopTransfer.html">店铺转让</a></li>
						</ul>
					</nav>
					<div class="nav_small">
						<div class="nav_btn" id="btnnav">
							<div>登录/帮助</div>		
						</div>
						<div class="clear"></div>
						<ul class="clear small_nav orgin" id="snav">
							
							<li v-if="hasLogin" @click="loginOff"><a href="#">退出登录</a></li>
							<li v-if="!hasLogin"><a href="Login.html">登录注册</a></li>
							<li v-if="hasLogin"><a href="MyCenter.html">个人中心</a></li>
							<li><a href="Apply.html">申请入驻</a></li>
							<li  class="active"><a href="Help.html">帮助中心</a></li>
						</ul>
					</div>

					<!--个人中心-->
					<div class="head_abnoutus">
						<ul class="clear">
							<li v-if="hasLogin" @click="loginOff"><a href="#">退出登录</a></li>
							<li v-if="!hasLogin"><a href="Login.html">登录注册</a></li>
							<li v-if="hasLogin"><a href="MyCenter.html">个人中心</a></li>
							<li><a href="Apply.html">申请入驻</a></li>
							<li  class="active"><a href="Help.html">帮助中心</a></li>
						</ul>
					</div>
					<div class="me_rk" style="float: right">
						<div class="btn_me"><img id="btn_me" src="../img/meicon.png" /></div>

						<ul class="me_list" id="me_list">
							<li><a href="Login.html">登录注册</a></li>
							<li><a href="MyCenter.html">个人中心</a></li>
							<li><a href="Apply.html">申请入驻</a></li>
							<li  class="active"><a href="Help.html">帮助中心</a></li>
						</ul>
					</div>

				</div>
			</header>
			<div style="background: #f5f5f5">
				<div class="helpDetCont" style="max-width: 1200px;width: 100%;min-height:700px ;margin: 0 auto;padding: 50px 0px">
					<div style="background: #fff;padding:40px 30px">
						<h2 style="font-weight: 500">{{mainData.title}}</h2>
						<div>
							<div class="content ql-editor " style="clear: both;">
								<p class="p1 " v-html="mainData.content"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<include src="footer.html"></include>
		</div>

	</body>
	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data: function() {
				return {
					paginate: {
						count: 0,
						currentPage: 1,
						pagesize: 6,
						is_page: true,
					},

					mainData: {},
					hasLogin:false
				}
			},

			created: function() {
				var self = this;
				self.init()
			},

			methods: {
				init: function(e) {
					var self = this;
					if (localStorage.getItem('user_token')) {
						self.hasLogin = true
					};
					self.getMainData();

				},
				
				loginOff(){
					const self = this;
					localStorage.removeItem('user_token');
					localStorage.removeItem('user_info');
					localStorage.removeItem('user_no');
					location.reload()
				},


				getMainData: function(id) {
					var self = this;
					var postData = {};
					postData.searchItem = {
						id: window.base.GetRequest().id
					};
					var callback = function(res) {
						if (res.info.data.length > 0) {
							self.mainData = res.info.data[0]
						}
					};
					console.log('self.mainData', self.mainData)
					window.base.articleGet(postData, callback);
				},

				intoPath: function(url, id) {
					var self = this;
					var toUrl = url;
					console.log(toUrl);
					window.location.href = toUrl + '?id=' + id;

				},



			}
		});
	</script>
</html>
<script type="text/javascript" src="/js/pubilc.js"></script>
<script>
	/*PC端*/
	var btnnav = document.getElementById("nav2btn");
	var nav2 = document.getElementById("nav2");
	var flag = true;
	btnnav.onclick = function() {
		if (flag) {
			nav2.classList.remove("ycxiala");
			nav2.classList.add("xiala");
			flag = false;
		} else {
			nav2.classList.remove("xiala");
			nav2.classList.add("ycxiala");
			flag = true;
		}
	}
	/*手机端*/
	var btnnav1 = document.getElementById("smnavbtn");
	var nav21 = document.getElementById("smnav2");
	var flag1 = true;
	btnnav1.onclick = function() {
		if (flag1) {
			nav21.classList.remove("smycxiala");
			nav21.classList.add("smxiala");
			flag1 = false;
		} else {
			nav21.classList.remove("smxiala");
			nav21.classList.add("smycxiala");
			flag1 = true;
		}
	}
</script>
